@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #615EFC;
  --secondary: #7E8EF1;
  --tarkey: #EEEEEE;
  --bg-theme: #f5f6ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #615EFC;
    --secondary: #7E8EF1;
    --tarkey: #EEEEEE;
    --bg-theme: #f5f6ff;
  }
}



body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 241.14, 96.34%, 67.84%;
    --secondary: 231.65, 80.42%, 71.96%;
    --tarkey: 0, 0%, 93.33%;
  }

  .dark {
    --primary: 241.14, 96.34%, 67.84%;
    --secondary: 231.65, 80.42%, 71.96%;
    --tarkey: 0, 0%, 93.33%;

  }


}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    /* @apply text-foreground; */
  }
}